{% extends "music/base.html" %}
{% load static %}

{% block content %}

<div>
    마지막 대답을 마친 당신은 죽음의 이유를 알려달라고 당당하게 요구합니다.<br>
    잠시 침묵하며 고민하던 목소리가 차분하게 말합니다.<br>
    “당신의 죽음은 불의의 사고일 수도 있고 지병에 의한 병사일 수도, 어쩌면 노화로 인한 자연사일지도 모르죠. 하지만 이제 그 진실에는 아무런 의미가 없어요.”<br>
    약속과 다른 말에 화를 내려는 순간, 목소리가 남은 말을 이어갑니다.<br>
    “나는 당신에게 삶을 돌려드리려 합니다. 앞으로 당신이 만들어갈 인생이 궁금해졌거든요. 다시 눈을 떴을 땐 새롭게 시작할 수 있을 겁니다.”<br>
    그 말이 끝나기 무섭게 환한 빛이 터지며 세상이 하얗게 물듭니다.<br>
    “오늘의 기억이 당신의 삶을 조금 더 나아지게 만들길 바라요.”<br>
    다만 그 너머에서 마지막으로 들려온 문장은 어쩐지 애정이 듬뿍 담겨 다정하게 느껴집니다.<br>
    <br>
    다시 눈을 떴을 때, 당신의 앞에는 술렁이는 갈대도, 포근한 오두막도 없습니다. 익숙한 방만이 당신을 반길 뿐이죠,<br>
    자, 이제 돌려받은 당신의 삶에 끝에선 어떤 노래가 들려올까요?
</div>


<a href="{% url 'music:result' this_user=this_user %}">테스트 결과 보기</a>

{% endblock %}
