{% extends "music/base.html" %}
{% load static %}

{% block head %}
<meta property="og:title" content="장례식에 흘러나올 내 인생의 주제곡은?" />
<meta property="og:description" content="Galpi : 당신의 삶을 갈피하다" />
<meta property="og:image" content="https://galpi.me/static/img/main_tn.png" />
{% endblock %}

{% block content %}
<section class="section">
<div class="main_section ">
	<img class="top_logo" src="/static/img/top_logo.svg" alt="top_logo">
	
	<img class="main_logo fadedown-ani" src="/static/img/main_logo.svg" alt="main_logo">
	
	<h2 class="main__title1 fadeup-ani">장례식에 흘러나올</h2>
	<h2 class="main__title2 fadeup-ani">내 인생의 주제곡은?</h2>

	<div class="main__hr fadeup-ani"></div>

	<h5 class="main__text fadeup-ani">Galpi.<br>당신의 삶을 갈피하다</h5>
	
	<a class="main__more fadeup-ani" href="{% url 'music:more' %}">더 알아보기 ▶︎</a>
	<button class="main-btn button fadeup-ani " onclick = "location.href = '{% url "music:start" %}' ">시작하기</button>
	<button class="main-btn button fadeup-ani " onclick = "location.href = 'https://tumblbug.com/galpi_me' ">갈피 프로젝트 ▶︎</button>

	<a class="main__copy fadeup-ani" href="#" onclick="clip(); return false;">주소 복사하기</a>
	<div class="main_share fadeup-ani">
		<a id="btnKakao" class="link-icon kakao" href="javascript:sendLinkCustom();" onclick="sendLinkCustom(); return false;">
			<img src="../../static/img/share/sicon_kakao.svg" id="kakao-link-btn" alt="카카오">
		</a>     
		<a id="btnTwitter" class="link-icon twitter" href="#" onclick="shareTwitter(); return false;">
			<img src="../../static/img/share/sicon_twitter.svg" alt="트위터">
		</a>
		<a id="btnFacebook" class="link-icon facebook" href="#" onclick="shareFacebook(); return false;">
			<img src="../../static/img/share/sicon_facebook.svg" alt="페이스북">
		</a>
		<span>
			<script type="text/javascript" src="https://ssl.pstatic.net/share/js/naver_sharebutton.js"></script>
			<script type="text/javascript">
			new ShareNaver.makeButton({"type": "a" , "title":"갈피 음악테스트"});
			</script>
		</span>
	</div>
</div>
</section>
{% endblock %}
