{% extends "music/base.html" %}
{% load static %}

{% block content %}
<section class="section">

<img class="top_logo-q" src="/static/img/top_logo.svg" alt="top_logo">

<div class="status">
    {% for b in black %}
        <img src="{% static 'img/question/black_circle.svg' %}" alt="">    
    {% endfor %}

    <img src="{% static 'img/question/comma.svg' %}" alt="">    

    {% for g in gray %}
        <img src="{% static 'img/question/gray_circle.svg' %}" alt="">    
    {% endfor %}
</div>

<div class="q_con">
    <h3 class="q_title">{{ question.q_title }}</h3>
    
    {% for answer in answers %}
        <form action="{% url 'music:question' this_user=this_user %}" method="POST">
        {% csrf_token %}
            <button class="button q-btn" name="choice" value="{{ answer.a_type }}">{{ answer.a_text }}</button>
        </form>
    {% endfor %}
    <div class="lottie" id="lottie_{{ question.q_number }}"></div>
    
</div>

</section>
{% endblock %}

