.end-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 13%;
}
.end-logo {
  margin-bottom: 25%;
}

.end-text {
  font-family: "NanumBarunGothic";
  font-size: 0.9rem;
  line-height: 1.7rem;
  text-align: left;
  width: 70%;
  margin-bottom: 12%;
}
.endstory .section {
  height: 100%;
}

.long {
  height: 100%;
}

.text-block {
  margin-bottom: 4%;
}

.end__more {
  padding-top: 4%;
}

.end__gray {
  color: rgba(43, 39, 38, 0.7);
  font-family: "RIDIBatang";
}
