.main_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top_logo {
  width: 12%;
  margin-top: 10%;
  margin-bottom: 20%;
}

.main-main {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.main__title1 {
  margin-top: 7px;
  margin-bottom: 10px;
  font-family: RIDIBatang;
  font-size: 1.3rem;
}
.main__title2 {
  font-family: RIDIBatang;
  font-size: 1.5rem;
}

.main__hr {
  width: 30px;
  height: 1px;
  background-color: rgba(43, 39, 38, 0.3);
  margin: 7% 0%;
}

.main__text {
  font-size: 0.9rem;
  line-height: 1.7rem;
  color: rgba(43, 39, 38, 0.7);
}
.main__more {
  font-size: 0.8rem;
  color: rgba(43, 39, 38, 0.3);
  margin: 7% 0 7% 0;
}
.main__button {
  font-size: 1rem;
}

.main-btn {
  margin-bottom: 4%;
}
