.more-main {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.more-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more__undo {
  position: absolute;
  margin: 5%;
}
@media (hover: hover) {
  .more__undo {
    position: absolute;
    right: 27%;
    margin-top: 3%;
  }
}
.more__logo {
  width: 25%;
}

.more-section h3 {
  margin-top: 6px;
  font-size: 1rem;
  line-height: 1.7rem;
  letter-spacing: 0.1em;
}
.more-section h4 {
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.1em;
}

.more__text {
  padding: 0 15%;
  font-family: "RIDIBatang";
  font-size: 0.85rem;
  line-height: 1.5rem;
  text-align: left;
  color: rgba(43, 39, 38, 0.8);
}
.more__text .galpi {
  font-family: "NanumBarunGothic";
}
.mb-5 {
  margin-bottom: 4%;
}

.more__part-top {
  margin-top: 15px;
}

.more__part {
  color: rgba(43, 39, 38, 0.6);
  font-size: 0.72rem;
  line-height: 1.4rem;
}
